# .gitignore
__pycache__/
*.pyc
.env
db.sqlite3
node_modules/
.vscode/
.env.local
venv/
venv/
backend/static/favicon-new.ico

# Directorio de logs completo
backend/logs/

# Ignorar archivos de Caddy generados
/backend/deploy/caddy.json


# Ignorar la carpeta donde collectstatic copia los archivos (¡siempre!)
/backend/staticfiles/

# Opcional: Ignorar el archivo .env si lo usas para configuración sensible
# /backend/.env

# Ignorar entornos virtuales
/venv/

backend/caddy_configs/caddy.json

